:root {
    --primary-color: #0f1416;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #b5e745;
    --primary-color1: #b71c1c;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    min-width: 100px;
    min-height: 40px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    padding: 0 16px;
    color: var(--white-color);
    background-color: var(--primary-color1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}

.btn:hover {
    background-color: #263238;
}


.header__search-btn {
    background-color: transparent;

}

.header__search-input-wrap {
    height: 100%;
    position: relative;

}

.header__search-input {
    width: 150%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: #838485;
    background-color: transparent;
    padding: 0 16px;

}

.header__search,
.header__search-input-wrap,
i:focus {
    opacity: 1;
}